<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.streetcat">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 카메라 권한 설정 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 저장 권한 설정 (이미지나 동영상을 기기의 외부 장치에 저장할경우) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 카메라기능이 무조건적으로 필요하지 않을 경우 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Streetcat">
        <service
            android:name=".services.MyFirebasemessaingService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".activity.NoticeActivity"
            android:label="@string/title_activity_notice"
            android:theme="@style/Theme.Streetcat.NoActionBar" />
        <activity android:name=".activity.TestEnum" />
        <activity android:name=".activity.Constants" />
        <activity
            android:name=".activity.SickSelect"
            android:label="@string/title_activity_sick_select"
            android:theme="@style/Theme.Streetcat.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Streetcat.NoActionBar" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.Login" />
        <activity android:name=".activity.Registration" />
        <activity android:name=".activity.CatInfo" />
        <activity android:name=".activity.CatAdd" />
        <activity android:name=".activity.WritePost" />
        <activity android:name=".activity.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PostActivity" />
        <activity android:name=".activity.CatDetailInfo" />
        <activity android:name=".activity.SickInfo" />
        <activity android:name=".activity.NotificationBasic" />

        <service android:name=".services.MyFcmService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.streetcat.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>